
{% if data is defined %}
    <img src='./../public/img/WokLogo.png'>
    <h1 style='font-size: 14pt;text-align: center; margin-bottom:0px'>INSTRUKCJA BHP</h1>
    <h2 style='font-size: 10pt;text-align: center;margin-top:0px'>dla klientów i gości odwiedzających WOK w Brodnicy<br> oraz firm zewnętrznych prowadzących prace na jej terenie</h2>
    <p style='border-bottom: 1px solid black;font-size:10pt;text-align:center'><b>SZANOWNI GOŚCIE, KLIENCI I PRACOWNICY FIRM ZEWNĘTRZNYCH</b></p>
    <table style="width:100%;border: 1px solid black;border-collapse: collapse">
        <tr>
            <td style='padding:0px;'><img style='padding:0px;width:75px' src='./../public/img/Przeczytaj.png'></td>
            <td style='padding:0px;background-color:rgb(168,208,141)'>
                <p style='font-size:8pt;text-align:left'><b>WITAMY Was serdecznie na terenie WOK spółka z ograniczoną odpowiedzialnością w Brodnicy.<br>Prosimy abyście znaleźli chwilkę czasu na przeczytanie tego regulaminu, ponieważ ze względu na<br>bezpieczeństwo pracy i ogólne bezpieczeństwo musicie stosować się do określonych niżej zaleceń.</b></p>
            </td>
        </tr>
        <tr style='border:none'>
            <td colspan='2' style='border:none;height:10px;border:none;font-size:11pt;text-align:center'><b>WEJSCIE DO FIRMY I PORUSZANIE SIĘ NA TERENIE ZAKŁADU</b></td>
        </tr>
        <tr>
            <td style='padding:0px'><img style='width:75px;height:90px' src='./../public/img/PiktogramyCz1.png'></td>
            <td style='padding:5px;font-size:10pt;text-align:left'>
                Poruszanie się po terenie Firmy może odbywać się tylko pod nadzorem i za zgodą pracownika WOK w Brodnicy do którego przyjechaliście. Na obszarach produkcyjno-magazynowych obowiązuje <b>ZAKAZ FOTOGRAFOWANIA</b> i filmowania. Pracownicy firm zewnętrznych powinni uzgodnić zasady poruszania się po terenie WOK z osobą nadzorującą wykonywane prace. W szczególnych przypadkach zasady te ustali <b>Służba BHP</b>.
            </td>
        </tr>
        <tr>
            <td style='padding:0px'><img style='width:75px' src='./../public/img/PiktogramyCz2.png'></td>
            <td style='padding:5px;font-size:10pt;text-align:left'>
                Wjazd i wyjazd samochodów osobowych odbywa się tylko przez bramę przy biurowcu. Zakład zastrzega sobie prawo do przeprowadzania kontroli wszystkich pojazdów wjeżdżających i wyjeżdżających z terenu WOK. Poruszając się po drogach wewnętrznych należy stosować się do znaków drogowych. Parkowanie pojazdów możliwe jest tylko w miejscach do tego wyznaczonych. Na terenie naszej firmy obowiązują przepisy kodeksu drogowego, ograniczenie prędkości zgodnie z obowiązującymi znakami. Firma nie ponosi odpowiedzialności za pozostawione pojazdy
            </td>
        </tr>
        <tr>
            <td style='padding:0px'><img style='width:75px' src='./../public/img/PiktogramyCz3.png'></td>
            <td style='padding:5px;font-size:10pt;text-align:left'>
                Na terenie firmy palenie tytoniu jest dozwolone tylko i wyłącznie w <b><u>wyznaczonych miejscach</u></b>. W przypadku zauważenia pożaru prosimy dostosować się do ogólnych zaleceń polegających na powiadomieniu osób mogących przebywać w zagrożonych pomieszczeniach, opuszczeniu miejsca objętego pożarem drogą ewakuacyjną. Należy również niezwłocznie powiadomić pracownika WOK, wcisnąć ROP, a w wyjątkowej sytuacji bezpośrednio <b>Straż Pożarną - 112</b>. Wszystkie prace niebezpieczne mogące powodować pożar wymagają pozwolenia.
            </td>
        </tr>
        <tr>
            <td style='padding:0px'><img style='width:75px' src='./../public/img/PiktogramyCz4.png'></td>
            <td style='padding:5px;font-size:10pt;text-align:left'>
                Na terenie naszej firmy spożywanie alkoholu (pod każdą postacią) jest <b><u>surowo zabronione</u></b>. Nikt nie może wchodzić ani przebywać na terenie firmy w stanie wskazującym na spożycie alkoholu lub środków odurzających.
            </td>
        </tr>
        <tr>
            <td style='padding:0px'><img style='width:75px' src='./../public/img/PiktogramyCz5.png'></td>
            <td style='padding:5px;font-size:10pt;text-align:left'>
                Do bezpieczeństwa pracy przywiązujemy bardzo duże znaczenie. Podczas pobytu u nas i pracy dla nas, obowiązują wszystkich ogólne przepisy bezpieczeństwa i higieny pracy oraz nasze wewnętrzne instrukcje i niniejszy regulamin, z którymi możesz zapoznać się u pracownika Służby bhp. Za wszystkie szkody spowodowane przez Was odpowiedzialny jest Wasz pracodawca, a w szczególnych przypadkach Wy sami.
            </td>
        </tr>
        <tr>
            <td style='padding:0px'><img style='width:75px' src='./../public/img/PiktogramyCz6.png'></td>
            <td style='padding:5px;font-size:10pt;text-align:left'>
                W razie doznania jakiegokolwiek urazu zwracajcie się do naszych punktów <b>Pierwszej Pomocy</b>, które znajdują się w biurze Lidera Zmiany, Magazyniera, Warsztacie mechanicznym, Portierni i Sterowni Tekturnicy gdzie otrzymacie fachową pomoc. Jeśli wydarzy się wypadek poinformujcie swego Kierownika i osobę z WOK nadzorującą wykonywane prace lub Lidera Zmiany.
            </td>
        </tr>
        <tr>
            <td colspan='2' style='font-size:10pt;text-align:center'><b>OCHRONA ŚRODOWISKA</b></td>
        </tr>
        <tr>
            <td style='padding:0px'><img style='width:75px' src='./../public/img/PiktogramyCz7.png'></td>
            <td style='padding:5px;font-size:10pt;text-align:left'>
                Przebywając na terenie firmy powinniście stosować wszystkie formy zapobiegania i ograniczania w powstawaniu odpadów. Powstałe odpady należy segregować w taki sposób, aby maksymalnie umożliwić pozyskanie składników, które można przeznaczyć do recyklingu. Specjalnej kontroli polegają odpady typu: oleje, farby, chemikalia, itp., które to nie mogą być wyrzucane razem z innymi odpadami oraz nie mogą przedostać się do ziemi, kanalizacji sanitarnej i deszczowej. Materiały opakowaniowe, transportowe pochodzące z dostarczanych urządzeń i części jak również odpady pochodzące z remontów, napraw należy przekazać do odbiorcy tych odpadów
            </td>
        </tr>
        <tr>
            <td colspan='2' style='font-size:11pt;text-align:center'><b>WJAZD/WYJAZD SAMOCHODÓW CIĘŻAROWYCH</b></td>
        </tr>
        <tr>
            <td style='padding:0px;'><img style='width:75px' src='./../public/img/PiktogramyCz8.png'></td>
            <td style='padding:5px;font-size:10pt;text-align:left'>
                <ul style='padding:10px'>
                    <li>Samochody ciężarowe mogą wjeżdżać na teren zakładu bramą główną i techniczną.</li><br>
                    <li>Przed wjazdem na teren zakładu należy zgłosić się do Portiera przy bramie aby zarejestrować cel przyjazdu i posiadany już ładunek. Przy opuszczaniu firmy, należy ponownie zgłosić się do Portiera, który, sprawdzi zgodność ładunku z dokumentami przewozowymi.</li><br>
                    <li>Poruszając się po drogach wewnętrznych należy stosować się do znaków drogowych.</li><br>
                    <li>Kierowca zobowiązany jest przedstawić dokumenty przewozowe Magazynierowi, od którego uzyska informacje o stanowisku załadowczo - rozładunkowym, do którego należy podstawić samochód.</li><br>
                    <li>Kierowca zobowiązany jest zabezpieczyć koła klinami.</li><br>
                    <li>Zgoda na odjechanie od rampy podawana jest ustnie przez Wózkowego prowadzącego załadunek.</li><br>
                    <li>Kierowca może poruszać się tylko na terenie placu manewrowego oraz przy biurze Magazyniera ubrany w kamizelkę odblaskową oraz buty ochronne.</li><br>
                    <li>Zakazuje się pozostawiania uruchomionego silnika pojazdu po wyjściu z kabiny.</li><br>
                    <li>Kierowcy zakazuje się obsługi bram oraz ramp załadunkowo/rozładunkowych.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan='2' style='font-size:11pt;text-align:center'><b>KAŻDY POWINIEN WIEDZIEĆ ŻE:</b></td>
        </tr>
        <tr>
            <td style='padding:0px;'><img style='width:75px' src='./../public/img/PiktogramyCz9.png'></td>
            <td style='padding:5px;font-size:11pt;text-align:left'>
                <ul>
                    <li style='margin:10px'>Bezpieczeństwo jest obowiązkiem każdego z nas</li><br>
                    <li>Szkolenia pracowników do bezpiecznej pracy są niezbędne</li><br>
                    <li>Zero tolerancji dla niebezpiecznych praktyk</li><br>
                    <li>Wszystkich urazów można uniknąć</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan='2'></td>
        </tr>
        <tr>
            <td style='padding:0px'><img style='width:75px' src='./../public/img/WokLogo2.png'></td>
            <td style='padding:5px;font-size:12pt;text-align:center;background-color:rgb(168,208,141)'>
                <b>ŻYCZYMY BEZPIECZNEGO POBYTU <br>NA TERENIE NASZEJ FIRMY</b>
            </td>
        </tr>
        <tr>
            <td style='font-size:10pt;text-align:center'>
                Data
            </td>
            <td style='font-size:10pt;text-align:center'>
                Podpis
            </td>
        </tr>
        <tr>
            <td style='font-size:10pt;text-align:center'>
                {{data['dzis']}}
            </td>
            <td style='font-size:10pt;text-align:left'>
                Zapoznałem się z instrukcją. <img style='width:55%;height:50px' src='{{data['src']}}'>
            </td>
        </tr>
    </table>
    <br><br>
    <table style="width:100%;border: 1px solid black;border-collapse: collapse">
        <tr>   
            <th>Opracował</th>
            <th>Lean manager</th>
            <th>Sprawdził</th>
            <th>Główny specjalista ds. BHP</th>
            <th>Zatwierdził</th>
            <th>Prezes</th>
        </tr>
        <tr>      
            <td>Data: 16.10.2023</td>
            <td>Tomasz Jendryczka</td>
            <td>Data: 18.10.2023</td>
            <td>Piotr Boniecki</td>
            <td>Data: 20.10.2023</td>
            <td>Stanisław Wiśniewski</td>
        </tr>
    </table>
    
{% else %}
    <h1>Ładownie danych nie ładuje :(</h1>
{% endif %}
